.player {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 300px;
  display: flex;
  align-items: center;
background-color: rgba(105, 54, 105, 0.863);

  span {
    font-size: 30px;
    margin-left: 15px;
  }
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
  }
}
